*{
    margin: 0;
}

body{
    position: relative;
    /* background-color: #ffe0e0; */
}

h1{
    width: 48.6111vw;
    font-size: 4.8611vw;
    height: 10.4167vw;
    line-height: 10.4167vw;
    box-shadow: 1px 1px 10px 1px #c0c0c0;
    border-radius: 0.6944vw;
    text-align: center;
    margin: 4.1667vw auto 0px auto;
}

header{
    width: 100%;
}

form{
    width: 95.1389vw;
    position: relative;
    margin: auto;
}

#input{
    width: 55.5556vw;
    height: 3.4722vw;
    position: absolute;
    left: 13.8889vw;
    top: 2.0833vw;
    padding-left:1.3889vw ;
    border-radius: 0.6944vw;
    font-size: 1.3889vw;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px 1px #dddddd;
}

#al{
    position: absolute;
    left: 72.2222vw;
    top: 2.0833vw;
    width: 10.4167vw;
    height: 3.6806vw;
    font-size: 2.0833vw;
    border-radius: 0.6944vw;
    cursor: pointer;
    border: none;
    color: #000;
    /* background-color: #ffa3a3; */
}

main{
    margin-left: 250px;
    margin-top: 100px;
}

.ti{
    width: 980px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px 7px;
    background-color: #fff;
}


.list{
    position: relative;
}

.ch{
    width: 25px;
    height: 25px;
    position: absolute;
}

.detail{
    font-size: 25px;
    display:inline-block;
    word-break: break-all;
    margin-left: 40px;
    width: 770px;
}

.del{
    width: 60px;
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top: -5px;
    /* background-color: #ffa3a3; */
    border: none;
    border-radius: 5px;
}

#all_del{
    float: right;
    margin-right: 15.9722vw;
    width: 9.0278vw;
    height: 2.7778vw;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 0.6944vw;
    font-size: 15px;
}

#all_del:hover{
    background-color: #fff;
    color: #000;
}