*{
    margin: 0;
}
body{
    position: relative;
}
h1{
    width: 1370px;
    font-size: 80px;
    text-align: center;
    margin: 100px auto 0px auto;
}
header{
    width: 100%;
}
form{
    width: 1370px;
    position: relative;
    margin: auto;
}
#input{
    width: 800px;
    height: 50px;
    position: absolute;
    left: 200px;
    top: 30px;
    padding-left:20px ;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid #000;
}
#al{
    position: absolute;
    left: 1030px;
    top: 30px;
    width: 150px;
    height: 53px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #7293ff;
    color: #fff;
}
main{
    position: absolute;
    position: relative;
    top: 150px;
}
#ex > div{
    position: absolute;
    left: 590px;
}
.ti{
    position: absolute;
    top: 200px;
    left: 590px;
}
.list{
    position: relative;
}
.ch{
    width: 30px;
    height: 30px;
    position: absolute;
}
.detail{
    font-size: 40px;
    left: 40px;
    top: -7px;
    position: absolute;
}
.del{
    width: 60px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: 220px;
    font-size: 20px;
}
/* #ex{
    display: none;
} */