*{
    margin: 0;
}

body{
    position: relative;
    /* background-color: #ffe0e0; */
}

h1{
    width: 700px;
    font-size: 70px;
    height: 150px;
    line-height: 150px;
    box-shadow: 1px 1px 10px 1px #c0c0c0;
    border-radius: 10px;
    text-align: center;
    margin: 60px auto 0px auto;
}

header{
    width: 100%;
}

form{
    width: 1370px;
    position: relative;
    margin: auto;
}

#input{
    width: 800px;
    height: 50px;
    position: absolute;
    left: 200px;
    top: 30px;
    padding-left:20px ;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px 1px #dddddd;
}

#al{
    position: absolute;
    left: 1040px;
    top: 30px;
    width: 150px;
    height: 53px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #000;
    /* background-color: #ffa3a3; */
}

main{
    margin-left: 250px;
    margin-top: 100px;
}

.ti{
    width: 980px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px 7px;
    background-color: #fff;
}


.list{
    position: relative;
}

.ch{
    width: 25px;
    height: 25px;
    position: absolute;
}

.detail{
    font-size: 25px;
    display:inline-block;
    word-break: break-all;
    margin-left: 40px;
    width: 770px;
}

.del{
    width: 60px;
    height: 40px;
    font-size: 20px;
    float: right;
    margin-top: -5px;
    /* background-color: #ffa3a3; */
    border: none;
    border-radius: 5px;
}

#all_del{
    float: right;
    margin-right: 230px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#all_del:hover{
    background-color: #fff;
    color: #000;
}